<div style="margin: 40px;">
    <div style="padding: 10px;">
        <div style="display: inline-block; width: 20%; height: 15%;">Name: </div>
        <div style="display: inline-block; width: 20%; height: 15%;"> {{patientName}} </div>
        <br>
    </div>

    <div style="padding: 10px;">
        <div style="display: inline-block; width: 20%; height: 15%;">Doctor: </div>
        <div style="display: inline-block; width: 20%; height: 15%;"> {{doctorName}}</div>
        <br>
    </div>

    <div style="padding: 10px;">
        <div style="display: inline-block; width: 20%; height: 15%;">Contract: </div>
        <div style="display: inline-block; width: 20%; height: 15%;"> {{contract}}</div>
        <br>
    </div>
</div>